<footer class="footer">
    <div class="footer-content">
      <p>Suivez-nous sur :</p>
      <a href="https://instagram.com/toncompte" target="_blank">
        <img src="/images/instagram.svg" alt="Instagram" class="footer-icon">
      </a>
      <a href="https://discord.gg/tonserveur" target="_blank">
        <img src="/images/discord.svg" alt="Discord" class="footer-icon">
      </a>
      <a href="mailto:contact@tonsite.com">
        <img src="/images/mail.svg" alt="E-mail" class="footer-icon">
      </a>
    </div>
  </footer>
  